/ = render partial: 'games/game_view', locals: {game: @game, current_player: @current_player, user: current_user}
= react_component('GameView', game: @game.as_json, user: current_user )
/ = image_tag "C_A.svg", class: 'card-image'
